@use 'helpers' as *;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media screen and (max-width: 768px), (max-width: 375px) {
    padding: 10px;
  }
}

body {
  background: $background-color;
}