@use 'helpers' as *;

.row {
  @include flex-box(row, space-between);
}

.first-content {
  max-width: 523px;
}

.margin-top-50 {
  margin-top: 50px;
}

.col {
  @include flex-box(column, space-between)
}

.content-400 {
  max-width: 400px;
}

.margin-0 {
  margin: 0;
}

.margin-top-150 {
  margin-top: 150px;

  @media screen and (max-width: 768px), (max-width: 376px) {
    margin-top: 50px;
  }
}

.margin-top-165 {
  margin-top: 165px;

  @media screen and (max-width: 376px) {
    margin-top: 20px;
  }
}

.padding-30 {
  padding: 30px 0;

  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }
}

.form-col {
  @include flex-box(column, space-between, 30);

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}

.row-responsive {
  @include flex-box(row, space-between);

  @media screen and (max-width: 768px) {
    @include flex-box(row, normal);
  }
}


.wrap {
  @include flex-box(row, space-between, 30);
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.footer-row {
  @include flex-box(row, space-between);

  @media screen and (max-width: 768px) {
    @include flex-box(column, center)
  }
}

.margin-top-resp {
  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 376px) {
    margin-top: 0;
  }
}
