//Colors//
$main-color: #fff;
$green-color: #53F3CD;
$blue-color: #689FF2;
$background-color: #161926;

//Fonts//
$main-font: 'Lato', sans-serif;
$secondary-font: 'Playfair Display', serif;
$secondary-font-italic: italic;

